/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }
  
  
  h1 {
    margin-bottom: 20px;
  }
  
  button {
    padding: 10px 20px;
    margin-bottom: 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .board {
    display: grid;
    grid-template-columns: repeat(4, 100px); /* 4 columnas de tarjetas */
    grid-gap: 10px;
    justify-content: center;
  }
  
  .card {
    width: 100px;
    height: 100px;
    background-color: #007bff;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: white;
  }
  
  .card.flip {
    background-color: white;
    color: #007bff;
  }
  
  .card img {
    display: none;
  }
  
  .card.flip img {
    display: block;
    width: 80px;
    height: 80px;
  }
  